RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php [L,QSA]

<FilesMatch "^(config\.php)$">
    Order allow,deny
    Deny from all
</FilesMatch>

RewriteRule ^lib/ - [F,L]
